export interface {{pascalCase name}}State {
    pending: boolean;
    data: any;
    error: string;
}

{{#each actions}}
export interface {{pascalCase this.ok}}Payload {
    [key: string]: any;
}
{{/each}}
